################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
/.vs
/.vs/slnx.sqlite
2018/Drafts/CORS/Code/Server/CORSApi/.vs/CORSApi/v15/Server/sqlite3/storage.ide-wal
2018/Drafts/CORS/Code/Server/CORSApi/.vs/CORSApi/v15/.suo
2018/Drafts/CORS/Code/Server/CORSApi/Server/obj/Debug/netcoreapp2.2/Server.csproj.CoreCompileInputs.cache
2018/Drafts/CORS/Code/.vs/CorsExample/v15/.suo
2018/Drafts/CORS/Code/Server/CORSApi/.vs/CORSApi/v15/.suo
2018/Drafts/CORS/Code/Server/CORSApi/.vs/CORSApi/v15/Server/sqlite3/storage.ide-wal
2018/Drafts/CORS/Code/Server/CORSApi/Client/bin/Debug/netcoreapp2.2/Client.deps.json
2018/Drafts/CORS/Code/Server/CORSApi/Client/obj/Client.csproj.nuget.g.props
2018/Drafts/CORS/Code/Server/CORSApi/Client/obj/Client.csproj.nuget.g.targets
2018/Drafts/CORS/Code/Server/CORSApi/Client/obj/project.assets.json
2018/Drafts/CORS/Code/Server/CORSApi/Client/obj/Debug/netcoreapp2.2/Client.assets.cache
2018/Drafts/CORS/Code/Server/CORSApi/Client/obj/Debug/netcoreapp2.2/Client.csproj.FileListAbsolute.txt
2018/Drafts/CORS/Code/Server/CORSApi/Server/obj/Debug/netcoreapp2.2/Server.csproj.CoreCompileInputs.cache
