################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2018/Drafts/CORS/Code/Server/CORSApi/Client/obj/Release/netcoreapp2.2
/2018/Drafts/CORS/Code/Server/CORSApi/ConsoleApp1/bin/Debug/netcoreapp2.2
/2018/Drafts/CORS/Code/Server/CORSApi/ConsoleApp1/obj/Debug/netcoreapp2.2
*.user
/2018/Drafts/CORS/Code/Server/CORSApi/ConsoleApp1/.vs/ConsoleApp1
/.vs
