################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
/.vs
/.vs/slnx.sqlite
